
#main {
	position: relative; 
	width: 10rem;
	height: 1025/75rem;
}
#main .setting {
	position: absolute;
	top: 35/75rem;
	right: 85/75rem;
	width: 46/75rem;
	height: 34/75rem;
	border: 1px solid black; 
	background: red
}
#main .setting .bar {
	width: 38/75rem;
	height: 8/75rem;
	margin-bottom: 5/75rem;
	background: white;
	border-radius: 3/75rem;
}
#main .setting .bar:nth-child(2) {
	width: 46/75rem;
}
#main {
	background: url('../img/mainBg.png') no-repeat center top;
	background-size: cover;
}
#main h2 {
	font-size: 40/75rem;
	color: white;
}
#main h1 {
	font-size: 40/75rem;
	color: white;
}