.test {
  box-sizing: border-box;
  border: 1px solid black;
}
.lineCenter {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}
body {
  position: relative;
}
#main {
  width: 10rem;
  height: 100%;
}
#main .topCon {
  position: relative;
  height: 38.80597015%;
  background: url('../img/topBg2.jpg') no-repeat bottom center;
  background-size: cover;
  box-shadow: inset 0 0 0.13333333rem rgba(0, 0, 0, 0.1);
}
#main .topCon .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 5.25333333rem;
  height: 3.44rem;
  overflow: hidden;
}
#main .topCon .content p {
  color: #fff;
  font-size: 0.92rem;
  line-height: 0.92rem;
  text-align: center;
  margin-top: 0.53333333rem;
}
#main .topCon .content .btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 4.69333333rem;
  height: 1.17333333rem;
  background: white;
  color: #93d6da;
  font-size: 0.42666667rem;
  line-height: 1.17333333rem;
  text-align: center;
  box-shadow: 0 0 0.26666667rem rgba(0, 0, 0, 0.15);
  border-radius: 0.58666667rem;
}
#main .sltCon div {
  width: 50%;
  height: 1.26666667rem;
  line-height: 1.26666667rem;
  color: #999999;
  text-align: center;
  font-size: 0.37333333rem;
  border-bottom: 2px solid #e3e3e3;
}
#main .sltCon .l {
  float: left;
}
#main .sltCon .r {
  float: right;
}
#main .sltCon div.select {
  color: #5bc6cb;
  border-bottom: 2px solid #5bc6cb;
}
#content {
  height: 8.53333333rem;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 0.46666667rem;
  padding-right: 0;
}
#content.noInfo {
  /*如果没有信息就显示下面的*/
  background-color: #f6f6f6;
}
#content.noInfo > .noContent {
  /*暂时没有处理的内容*/
  display: block;
}
#content.noInfo > .mainContent {
  display: none !important;
}
#content .mainContent {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  padding-right: 0.46666667rem;
}
#content .mainContent li {
  position: relative;
  display: block;
  height: 2.73333333rem;
  box-sizing: border-box;
  padding-left: 0.37333333rem;
  border-bottom: 2px solid #efeeee;
}
#content .mainContent li p {
  float: left;
  line-height: 2.70666667rem;
  font-size: 0.42666667rem;
  color: #333333;
  letter-spacing: 0.05333333rem;
}
#content .mainContent li .status {
  position: absolute;
  width: 2.93333333rem;
  height: 1.06666667rem;
  right: 0.05333333rem;
  top: 50%;
  bottom: 50%;
  transform: translate(0, -50%);
  box-sizing: border-box;
}
#content .mainContent li .status .t {
  height: 0.52rem;
  margin-bottom: 0.17333333rem;
}
#content .mainContent li .status .t i {
  width: 0.18666667rem;
  height: 0.32rem;
  margin-right: 0.05333333rem;
  line-height: 0.52rem;
  margin-top: 0.12rem;
  display: inline-block;
  float: right;
  background: url('../img/arrowRight.jpg') no-repeat center center;
  color: #cbcbcb;
  background-size: cover;
}
#content .mainContent li .status .t > p {
  height: 0.52rem;
  line-height: 0.52rem;
  display: inline-block;
  float: right;
  margin-right: 0.24rem;
  color: #9dd6da;
  font-size: 0.41333333rem;
  letter-spacing: 0.02666667rem;
}
#content .mainContent li .status .time {
  display: inline-block;
  float: right;
  font-size: 0.29333333rem;
  color: #d3d3d3;
}
#content .noContent {
  display: none;
  position: relative;
  width: 4rem;
  height: 5.6rem;
  margin: 1.2rem auto 0;
}
#content .noContent .icon {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 2.53333333rem;
  height: 3.46666667rem;
  background: url('../img/noIcon.png') no-repeat center center;
  background-size: cover;
}
#content .noContent p {
  position: absolute;
  text-align: center;
  color: #999999;
  font-size: 0.48rem;
  bottom: 0.06666667rem;
}
/*@media screen and (max-width: 300px) {

}*/
.process-finished {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}
.process-finished.none {
  display: none !important;
}
.process-finished .hint {
  height: 1.53333333rem;
  background: #fff;
  box-sizing: border-box;
  padding: 0.53333333rem 0.46666667rem;
  margin-bottom: 0.2rem;
}
.process-finished .hint i {
  display: inline-block;
  width: 0.48rem;
  height: 0.45333333rem;
  background: url('../img/clock.jpg') no-repeat center center;
  background-size: cover;
  margin-right: 0.26666667rem;
}
.process-finished .hint span {
  color: #63d6b5;
  font-size: 0.48rem;
  line-height: 0.46666667rem;
}
.process-finished#finished .main {
  box-sizing: border-box;
  padding-bottom: 0.53333333rem;
}
.process-finished#finished .response {
  box-sizing: content-box;
  padding: 0.53333333rem;
  margin-top: 0.6rem;
  background-color: #fff;
}
.process-finished#finished .response .t {
  height: 0.45333333rem;
  padding-bottom: 0.52rem;
  border-bottom: 2px solid #eaeaea;
}
.process-finished#finished .response .t i.icon {
  display: inline-block;
  float: left;
  width: 0.42666667rem;
  height: 0.45333333rem;
  margin-right: 0.33333333rem;
  background: url('../img/icon5.jpg') no-repeat center center;
  background-size: cover;
}
.process-finished#finished .response .t p {
  display: inline-block;
  float: left;
  height: 0.45333333rem;
  font-size: 0.42666667rem;
  line-height: 0.45333333rem;
}
.process-finished#finished .response .t .satisfy {
  display: inline-block;
  float: right;
}
.process-finished#finished .response .t .satisfy span {
  display: inline-block;
  float: left;
  font-size: 0.42666667rem;
  line-height: 0.42666667rem;
  margin-right: 0.30666667rem;
}
.process-finished#finished .response .t .satisfy .starBox {
  float: left;
}
.process-finished#finished .response .t .satisfy .starBox .star {
  float: left;
  width: 0.42666667rem;
  height: 0.42666667rem;
  margin-right: 0.13333333rem;
  box-sizing: border-box;
  background: url('../img/star.jpg') no-repeat center center;
  background-size: cover;
}
.process-finished#finished .response .t .satisfy .starBox .star.fill {
  background: url('../img/starFill.jpg') no-repeat center center;
  background-size: cover;
}
.process-finished#finished .response .textCon textarea {
  display: block;
  width: 100%;
  margin-top: 0.46666667rem;
  height: 1.73333333rem;
  outline: none;
  resize: none;
  box-sizing: border-box;
  padding: 0.06666667rem;
  font-size: 0.42666667rem;
  color: #a9a9a9;
  margin-bottom: 0.33333333rem;
  border: none;
}
.process-finished#finished .response .submitBtn {
  margin: 0 auto;
  top: 2.4rem;
  letter-spacing: 0.29333333rem;
  /*bottom: 28/75rem;*/
  display: block;
  height: 1.13333333rem;
  width: 8.94666667rem;
  border-radius: 0.56666667rem;
  text-align: center;
  line-height: 1.13333333rem;
  color: #fff;
  font-size: 0.53333333rem;
  box-shadow: 0.06666667rem 0.13333333rem 0.2rem rgba(88, 197, 203, 0.2);
  background: -webkit-linear-gradient(left, #58c5cb, #6be3a3);
  /* Safari  5.1 - 6.0 */
  background: -o-linear-gradient(right, #58c5cb, #6be3a3);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #58c5cb, #6be3a3);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #58c5cb, #6be3a3);
  /* 标准的语法 */
}
.process-finished .main {
  position: relative;
  box-sizing: border-box;
  padding: 0.50666667rem;
  padding-bottom: 0;
  background-color: #fff;
}
.process-finished .main ul li {
  position: relative;
  height: 0.64rem;
  margin-bottom: 1rem;
}
.process-finished .main ul li:nth-child(4) {
  margin-bottom: 0.66666667rem;
}
.process-finished .main ul li i.icon {
  position: relative;
  top: 0.08rem;
  display: inline-block;
  width: 0.42666667rem;
  height: 0.48rem;
  background: url('../img/icon1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 0.36rem;
}
.process-finished .main ul li i.icon.icon2 {
  background: url('../img/icon2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.process-finished .main ul li i.icon.icon3 {
  background: url('../img/icon3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.process-finished .main ul li i.icon.icon4 {
  background: url('../img/icon4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.process-finished .main ul li p {
  display: inline-block;
  line-height: 0.64rem;
  height: 0.64rem;
  font-size: 0.42666667rem;
}
.process-finished .main ul li p.t {
  color: #333333;
}
.process-finished .main ul li p.info {
  float: right;
  max-width: 5.2rem;
  font-size: 0.42666667rem;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #666666;
}
.process-finished .main ul .desc {
  min-height: 0.46666667rem;
  max-height: 1.66666667rem;
  color: #999999;
  line-height: 0.50666667rem;
  font-size: 0.42666667rem;
  overflow-x: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.process-finished .main ul .desc.slideDown {
  white-space: normal;
}
.process-finished .main ul .desc.slideDown + .spread span {
  content: '收起';
}
.process-finished .main ul .desc.slideDown + .spread i {
  transform: rotate(180deg);
  margin-top: 0;
}
.process-finished .main ul .spread {
  width: 1.53333333rem;
  height: 0.34666667rem;
  margin-top: 0.13333333rem;
  margin-bottom: 0.66666667rem;
  line-height: 0.34666667rem;
  color: #63d6b5;
}
.process-finished .main ul .spread span {
  font-size: 0.48rem;
}
.process-finished .main ul i.arrowDown {
  display: inline-block;
  width: 0.36rem;
  height: 0.21333333rem;
  margin-top: 0.06666667rem;
  background: url('../img/arrowDown.jpg') no-repeat center center;
  background-size: cover;
  margin-left: 0.13333333rem;
}
.process-finished .picCon {
  position: relative;
  height: 2.12rem;
}
.process-finished .picCon .pic {
  width: 2.12rem;
  height: 2.12rem;
  float: left;
  margin-right: 0.33333333rem;
}
.process-finished .return {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto 0.64rem;
  top: 3.2rem;
  /*bottom: 28/75rem;*/
  display: block;
  height: 1.13333333rem;
  width: 8.94666667rem;
  border-radius: 0.56666667rem;
  text-align: center;
  line-height: 1.13333333rem;
  color: #fff;
  font-size: 0.53333333rem;
  font-family: '[PingFang]';
  box-shadow: 0.06666667rem 0.13333333rem 0.2rem rgba(88, 197, 203, 0.2);
  background: -webkit-linear-gradient(left, #58c5cb, #6be3a3);
  /* Safari  5.1 - 6.0 */
  background: -o-linear-gradient(right, #58c5cb, #6be3a3);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #58c5cb, #6be3a3);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #58c5cb, #6be3a3);
  /* 标准的语法 */
}
#repair {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}
#repair .topCon {
  background: #fff;
  box-sizing: border-box;
  padding: 0.53333333rem 0.53333333rem 0;
}
#repair .topCon .info {
  height: 0.98666667rem;
  margin-bottom: 0.53333333rem;
  box-sizing: border-box;
  padding-bottom: 0.53333333rem;
}
#repair .topCon .info:nth-child(5) i.icon {
  visibility: hidden;
}
#repair .topCon .info:nth-child(5) i.icon.right {
  visibility: visible;
}
#repair .topCon .info:nth-child(5) span.event {
  visibility: hidden;
}
#repair .topCon .info:nth-child(5) span.middle.slt {
  color: #999999;
}
#repair .topCon .info:nth-child(7) {
  margin: 0;
}
#repair .topCon .info:nth-child(7) i.icon {
  visibility: hidden;
}
#repair .topCon .info:nth-child(7) i.icon.right {
  visibility: hidden;
}
#repair .topCon .info:nth-child(7) span.event {
  visibility: hidden;
}
#repair .topCon .info:nth-child(7) span.middle.slt {
  color: #999999;
}
#repair .topCon .info i.icon {
  display: block;
  margin-right: 0.26666667rem;
  box-sizing: border-box;
  width: 0.42666667rem;
  height: 0.48rem;
}
#repair .topCon .info i.icon.right {
  float: right;
  background: url('../img/arrowDown1.jpg') no-repeat center center;
  width: 0.36rem;
  height: 0.21333333rem;
  margin-right: 0;
  background-size: cover;
}
#repair .topCon .info i.icon.icons {
  float: left;
}
#repair .topCon .info i.icon.icons.icon1 {
  width: 0.42666667rem;
  height: 0.48rem;
  background: url('../img/icon1.jpg') no-repeat center center;
  background-size: cover;
}
#repair .topCon .info i.icon.icons.icon2 {
  width: 0.42666667rem;
  height: 0.42666667rem;
  background: url('../img/icon2.jpg') no-repeat center center;
  background-size: cover;
}
#repair .topCon .info i.icon.icons.icon3 {
  width: 0.42666667rem;
  height: 0.42666667rem;
  background: url('../img/icon7.jpg') no-repeat center center;
  background-size: cover;
}
#repair .topCon .info i.icon.icons.icon4 {
  width: 0.42666667rem;
  height: 0.36rem;
  background: url('../img/icon8.jpg') no-repeat center center;
  background-size: cover;
}
#repair .topCon .info i.icon.icons.icon6 {
  width: 0.42666667rem;
  height: 0.48rem;
  background: url('../img/icon3.jpg') no-repeat center center;
  background-size: cover;
}
#repair .topCon .info i.icon.icons.rigyht {
  visibility: hidden;
}
#repair .topCon .info .event {
  width: 1.82666667rem;
  height: 0.46666667rem;
  box-sizing: border-box;
  float: left;
  line-height: 0.46666667rem;
  color: #333333;
  margin-right: 0.66666667rem;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.42666667rem;
}
#repair .topCon .info .event.Type {
  letter-spacing: 0.04rem;
}
#repair .topCon .info .event.Project {
  letter-spacing: 0.04rem;
}
#repair .topCon .info .event.Name {
  letter-spacing: 0.26666667rem;
}
#repair .topCon .info .event.Phone {
  letter-spacing: 0.93333333rem;
}
#repair .topCon .info .event.Address {
  letter-spacing: 0.04rem;
}
#repair .topCon .info span.middle {
  height: 0.46666667rem;
  line-height: 0.46666667rem;
  float: left;
  color: #747474;
  font-size: 0.42666667rem;
}
#repair .topCon .info span.middle.slt {
  letter-spacing: 0.04rem;
  color: #666666;
}
#repair .topCon .info span.slt {
  height: 0.46666667rem;
  line-height: 0.46666667rem;
  float: left;
  color: #747474;
  font-size: 0.42666667rem;
}
#repair .topCon .info input.text {
  outline: none;
  border: none;
  height: 0.46666667rem;
  float: left;
  color: #999999;
  width: 5.33333333rem;
  background: #fff;
  font-size: 0.42666667rem;
}
#repair .bottomCon {
  box-sizing: border-box;
  padding: 0.50666667rem 0.53333333rem 0;
  margin-top: 0.6rem;
  background: #fff;
}
#repair .bottomCon hr {
  border: 1px solid #f3f1f1;
  margin-bottom: 0.53333333rem;
}
#repair .bottomCon .info {
  padding-bottom: 0.53333333rem;
}
#repair .bottomCon .info i.icon.left {
  float: left;
  width: 0.42666667rem;
  height: 0.49333333rem;
  margin-right: 0.26666667rem;
  background: url('../img/icon4.jpg') no-repeat center center;
  background-size: cover;
}
#repair .bottomCon .info .t {
  float: left;
  width: 1.82666667rem;
  height: 0.46666667rem;
  line-height: 0.46666667rem;
  box-sizing: border-box;
  color: #333333;
  font-size: 0.42666667rem;
  margin-right: 0.66666667rem;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.93333333rem;
}
#repair .bottomCon .info input.text {
  outline: none;
  border: none;
  height: 0.46666667rem;
  float: left;
  color: #999999;
  width: 5.33333333rem;
  background: #fff;
  font-size: 0.42666667rem;
}
#repair .bottomCon .text.area {
  display: block;
  resize: none;
  outline: none;
  height: 2.13333333rem;
  width: 8.93333333rem;
  border: none;
  color: #999;
  font-size: 0.42666667rem;
  margin-bottom: 0.04rem;
}
#repair .bottomCon .uploadPicCon {
  margin-bottom: 0.50666667rem;
}
#repair .bottomCon .uploadPicCon div.pic {
  position: relative;
  width: 2.2rem;
  height: 2.2rem;
  float: left;
  box-sizing: border-box;
  border: 1px solid #e9e9e9;
  overflow: hidden;
  margin-right: 0.32rem;
}
#repair .bottomCon .uploadPicCon div.pic.upload img {
  width: 1.0rem;
  height: 0.78666667rem;
}
#repair .bottomCon .uploadPicCon div.pic img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
#repair .bottomCon .submitBtn {
  margin: 0.37333333rem auto;
  top: 2.4rem;
  letter-spacing: 0.29333333rem;
  /*bottom: 28/75rem;*/
  display: block;
  height: 1.13333333rem;
  width: 8.94666667rem;
  border-radius: 0.56666667rem;
  text-align: center;
  line-height: 1.13333333rem;
  color: #fff;
  font-size: 0.53333333rem;
  box-shadow: 0.06666667rem 0.13333333rem 0.2rem rgba(88, 197, 203, 0.2);
  background: -webkit-linear-gradient(left, #58c5cb, #6be3a3);
  /* Safari  5.1 - 6.0 */
  background: -o-linear-gradient(right, #58c5cb, #6be3a3);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #58c5cb, #6be3a3);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #58c5cb, #6be3a3);
  /* 标准的语法 */
}
